body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  
}

.delete-form {
  /* display: flex;
  flex-direction: row; */
  margin-right: 10px;
  
}

.delete-form button {
  color: red;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: center;
}

